<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Déchet</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light text-black">

<div class="container text-black">

    <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="col-12 col-md-6 col-lg-5 text-center">
    <h1>Ajout de déchet</h1>
            <div class="mb-3">
                <div class="bg-info p-2 rounded text-center mt-3 d-flex justify-content-center gap-3">
                    <a href="/Home" class="text-white text-decoration-none">Home</a>
                    <a href="/Graphique" class="text-white text-decoration-none">Graphiques</a>
                    <a href="/BDD" class="text-white text-decoration-none">BDD</a>
                    <a href="/Menu" class="text-white text-decoration-none">Menu</a>
                </div>
            </div>
            <form id="formDechet" class="mt-4">
                <div class="mb-3">
                    <input 
                        type="number" 
                        id="weight"
                        class="form-control"
                        placeholder="Poids (kg)" 
                        required
                    >
                </div>
                <div class="mb-3">
                    <select id="choice" class="form-select">
                        <option value="Plastique">Plastique</option>
                        <option value="Organique">Organique</option>
                    </select>
                </div>
                <div class="mb-3 text-start">
                    <label class="form-label">Balance :</label><br>
                    <input type="radio" name="balance" value="1" checked> 1
                    <input type="radio" name="balance" value="2"> 2
                </div>

                <button type="submit" class="btn btn-warning text-white w-100">
                    Ajouter
                </button>
            </form>

        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

<script>
document.getElementById("exportCsvBtn").addEventListener("click", () => {
    window.location.href = '/ExportCSV';
});

document.getElementById('formDechet').addEventListener('submit', async (e) => {
    e.preventDefault();

    const weight = document.getElementById('weight').value;
    const choice = document.getElementById('choice').value;
    const balance = document.querySelector('input[name="balance"]:checked').value;

    const response = await fetch('/AddDataDonneeCollecte', {
        method: 'POST',
        headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
        body: new URLSearchParams({ weight, choice,balance })
    });

    if (response.ok) {
        alert(`${weight}kg de déchet ${choice} de la balance n°${balance} ajouté !`);
        document.getElementById('weight').value = 0;
    } else {
        alert('Erreur lors de l’ajout.');
    }
});

document.getElementById('formLogout').addEventListener('submit', async (e) => {
    e.preventDefault();
    await fetch('/Logout', { method: 'POST' });
    window.location.href = '/';
});
</script>
</html>
