<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Graphiques</title>
</head>
<body>
    <h1>Page des graphiques</h1>
    <a href="/Home" class="card-link">Home</a>
    <a href="/BDD" class="card-link">BDD</a>
    <a href="/Dechet" class="card-link">Ajout de déchet</a>
</br>

     <select id="ChoixGraphique" name="ChoixGraphique" required>
            <option value="Plastique">Plastique</option>
            <option value="Organique">Organique</option>
    </select>


    <form method="POST" action="Semaine">
        Choix de la semaine
        <input id="Semaine" type="date" name="date"><br>
    </form>

    <form method="POST" action="/Logout">
        <button type="submit">Se déconnecter</button>
    </form>

    <canvas id="GraphPoid"></canvas>
    

<script>
let chart;

async function loadGraphData(type,date) {
    const response = await fetch(`/API/Data_BDD?type=${type}&date=${date}`);
    const data = await response.json();

    const labels = data.map(row =>
        new Date(row.DateDeCollecte).toLocaleString()
    );

    const dataPoid = data.map(row => row.Valeur);

    if(chart)chart.destroy();

    chart = new Chart(document.getElementById('GraphPoid'), {
        type: 'line',
        data: {
            labels,
            datasets: [{
                label: `Déchets ${type} (Kg)`,
                data: dataPoid,
                borderColor: 'blue',
                backgroundColor: 'rgba(0,128,0,0.2)',
                fill: true,
            }]
        }
    });
}

document.getElementById('ChoixGraphique').addEventListener('change', () => {
    const type = document.getElementById('ChoixGraphique').value;
    const date = document.getElementById('Semaine').value;
    loadGraphData(type,date);
});

document.getElementById('Semaine').addEventListener('change', () => {
    const type = document.getElementById('ChoixGraphique').value;
    const date = document.getElementById('Semaine').value;
    loadGraphData(type, date);
});

const DateChoisi=new Date().toISOString().split('T')[0];
loadGraphData('Plastique',DateChoisi);

</script>

</body>
</html>