<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Graphiques</title>
</head>
<body>
    <h1>Page des graphiques</h1>
    <a href="/Home" class="card-link">Home</a>
    <a href="/BDD" class="card-link">BDD</a>
    <a href="/Dechet" class="card-link">Ajout de déchet</a>
    <a href="/Menu" class="card-link">Menu</a>
    
</br>

     <select id="ChoixGraphique" name="ChoixGraphique" required>
            <option value="Plastique">Plastique</option>
            <option value="Organique">Organique</option>
    </select>


    <form id="Periode" method="POST" action="Periode">
        Choix de la semaine<br>
        <input id="date_debut" type="date" name="date_debut"><br>
        <input id="date_fin" type="date" name="date_fin"><br>
    </form>

    <form method="POST" action="/Logout">
        <button type="submit">Se déconnecter</button>
    </form>
    <div style="width: 80%; height: 50%; margin: auto;">
        <canvas id="GraphPoid"></canvas>
    </div>

<script>
let chart;

async function loadGraphData(type,date_debut,date_fin) {
    const response = await fetch(`/API/Data_BDD?type=${type}&date_debut=${date_debut}&date_fin=${date_fin}`);
    const data = await response.json();

    const labels = data.map(row =>
        new Date(row.DateDeCollecte).toLocaleString()
    );

    const dataPoid = data.map(row => row.Valeur);

    if(chart)chart.destroy();

    chart = new Chart(document.getElementById('GraphPoid'), {
        type: 'line',
        data: {
            labels,
            datasets: [{
                label: `Déchets ${type} (Kg)`,
                data: dataPoid,
                borderColor: 'blue',
                backgroundColor: 'rgba(0,128,0,0.2)',
                fill: true,
                tension: 0.4,
                segment: {
                    borderColor: ctx => {
                    const y = ctx.p0.parsed.y;
                        return y > 15 ? 'red' : 'blue';
                    },
                    backgroundColor : ctx => {
                    const y = ctx.p0.parsed.y;
                        return y > 15 ? 'rgba(255,0,0,0.2)' : 'rgba(0,0,255,0.2)';
                    }
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                }
            }]
        }
        
    });
    if (dataPoid.some(val => val > 15)) {
        window.alert("Un menu a trop de déchet");
    }

    
}

document.getElementById('ChoixGraphique').addEventListener('change', () => {
    const type = document.getElementById('ChoixGraphique').value;
    const date_debut = document.getElementById('date_debut').value;
    const date_fin=document.getElementById('date_fin').value;
    loadGraphData(type,date_debut,date_fin);
});

document.getElementById('Periode').addEventListener('change', () => {
    const type = document.getElementById('ChoixGraphique').value;
    const date_debut = document.getElementById('date_debut').value;
    const date_fin=document.getElementById('date_fin').value;
    loadGraphData(type,date_debut,date_fin);
});

const DateChoisi=new Date().toISOString().split('T')[0];
loadGraphData('Plastique',DateChoisi,DateChoisi);



</script>

</body>
</html>