<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Graphiques</title>
</head>
<body>
    <h1>Page des graphiques</h1>
    <a href="/Home" class="card-link">Home</a>
    <a href="/BDD" class="card-link">BDD</a>
    <a href="/Dechet" class="card-link">Ajout de déchet</a>
    <a href="/Graphique" class="card-link">Affichage Graphique</a>
</br>

</body>
</html>