<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Nouveau Compte</h1>
    <a href="/" class="card-link">Page Log In</a>

        <br>

    <form method="POST" action="/NewUtilisateur">
        <textarea name='Nom' rows="1" cols="20" placeholder="Nom"></textarea><br>
        <textarea name='Prenom' rows="1" cols="20" placeholder="Prénom"></textarea><br>
        <textarea name='Email' rows="1" cols="20" placeholder="Mail"></textarea><br>
        <textarea name='MotDePasse' rows="1" cols="20" placeholder="MDP"></textarea><br>
        <button type="submit">Submit</button>
    </form>

</body>
</html>